<div class="modal" tabindex="-1" data-entrys-opener-target="modal">
	<div class="modal-dialog modal-dialog-centered {{ scrollable is defined and scrollable ? 'modal-dialog-scrollable': '' }} {{ size is defined and size == 'large' ? 'modal-lg': size is defined and size == 'extra-large' ? 'modal-xl' : '' }}">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-entrys-opener-target="modalTitle">{{ modalTitle }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
      <div class="modal-body" data-entrys-opener-target="modalBody">
          {{ modalContent|default('Loading...') }}
      </div>
    </div>
  </div>
</div>

